###############################################################################
#
# Adventures in microPython on the ESP32 ...
#
# Under uv:
#     rm -r .venv/ pyproject.toml .python-version uv.lock
#     uv init
#     uv add -r requirements.txt
#
# To run thonny:
#     cd into this dir
#     uv run thonny &
#
# Need to try this:
# Install ampy
# pip install adafruit-ampy
#
# Upload a script named main.py to the device
# ampy --port /dev/ttyUSB0 put main.py
# 
# Run the script on the device
# ampy --port /dev/ttyUSB0 run main.py
#
# iMac USB Ports:
#     SDR
#     FTdx3000
#     SS Drive
#     4:1 Expansion port:
#         - Keyer
#         - Audio Codec for FTdx3000
#         - Mouse
#         - Keyboard
#
###############################################################################

# IDE/Dev tools
thonny
esptool
